html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: rgb(255, 238, 218);

}

*::before,
*,
*::after {
    box-sizing: inherit;
}

body{
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;

    /* border: 2px solid black; */
}

#idOne {
    display: flex;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
    margin: 5%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}